# Base de Datos - LOCAL
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=tu_password
# DB_NAME=Artemania

# Base de Datos - PRODUCCIÓN (Render)
# DATABASE_URL=postgresql://usuario:password@host:puerto/database

# Puerto
PORT=3000

# Node Environment
NODE_ENV=production

# JWT
JWT_SECRET=mysecretkey_change_this_in_production

# Telegram
TELEGRAM_BOT_TOKEN=7511431174:AAHzs6aqRuxN-Xx9x-XCCqble5luJgIGvjk
TELEGRAM_CHAT_ID=1884634191
# CORS (URLs permitidas, separadas por comas)
CORS_ORIGINS=https://tu-frontend.vercel.app,https://tu-dominio.com
