

<!-- Banner -->
<section class="banner-contactanos">
  <div class="imagen-banner">
    <img src="https://images.pexels.com/photos/1297938/pexels-photo-1297938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Banner Contacto">
  </div>

  <div class="texto-banner">
    <h2>CONTACTANOS</h2>
    <div class="linea"></div>
    <p>¡Queremos ayudarte, rellena el formulario y deja tus dudas o comentarios!</p>
  </div>
</section>


<div class="aviso-contacto">
  <p>Si tienes dudas comunícate con nosotros al <strong>0992731355</strong></p>
</div>


<!-- Info rápida -->
<section class="info-rapida">
  <div class="servicio-cliente">
    <div class="cliente-titulo">
      <h3>Servicio al cliente</h3>
      <div class="linea"></div>
    </div>
    <div class="cliente-lista">
      <ul>
        <li>Tengo quejas o sugerencias</li>
        <li>Quiero información sobre los productos</li>
        <li>Quiero compartir dudas o comentarios</li>
      </ul>
    </div>
  </div>
</section>




<div class="aviso-contacto">
  <p>O <strong>llena el formulario</strong> y envíanos tu mensaje para ayudarte con tu requerimiento.</p>
</div>

<!-- Formulario + imagen -->
<section class="formulario-contacto">
  <form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" placeholder="Tu nombre">
    </div>

    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" id="apellido" placeholder="Tu apellido">
    </div>

    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" placeholder="correo@ejemplo.com">
    </div>

    <div class="form-group">
      <label for="mensaje">Mensaje</label>
      <textarea id="mensaje" rows="5" placeholder="Escribe tu mensaje..."></textarea>
    </div>

    <button type="submit">Enviar</button>
  </form>

  <img class="img-form" src="https://images.pexels.com/photos/7709287/pexels-photo-7709287.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Atención al cliente">
</section>



<div class="aviso-contacto">
  <h3>Te esperamos en</h3>
</div>

<!-- Info de contacto -->
<section class="info-local">
  <div class="boxes">
    <div class="box">
      <h4>Nuestro local</h4>
      <p>Calle Buenavista E51-58 y Calle 2<br>Sector San Bartolo, Quito</p>
    </div>
    <div class="box">
      <h4>Horario de atención</h4>
      <p>Lunes a Viernes: 10h00 - 18h00<br>Sábados: 12h00 - 16h00</p>
    </div>
  </div>
</section>

<div class="aviso-contacto">
  <h3>Nuestra ubicacion</h3>
</div>

<!-- Mapa -->
<section class="ubicacion">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d523.3981622808099!2d-78.52701861640637!3d-0.2682980438902387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d598f0d717446f%3A0x330b95c5e6c577a0!2sBuenavista%20%26%20Calle%202%2C%20170139%20Quito!5e1!3m2!1ses-419!2sec!4v1745007431910!5m2!1ses-419!2sec" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<!-- Redes -->
<section class="redes">
  <h3>Síguenos en nuestras redes</h3>
  <div class="iconos">
    <i class="pi pi-facebook"></i>
    <i class="pi pi-instagram"></i>
    <i class="pi pi-tiktok"></i>
  </div>
</section>

